.button {
    border-bottom: 2px solid #ccc;
    border-radius: 0 !important;
    color: white;
    font-weight: 500;
}

.avatar {
    border: 2px solid #ffffff;
}
.name {
    font-weight: 500;
    z-index: 1000 !important;
    color: white
}
.blue-river-header {
    height: 200px;
    position: relative;
}
.wrap-header-container {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 0 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    width: 100%;
}