.content-us {
    width: 100%;
}
.wrap-content-us {
    width: 60%;
    height: 400px;
    margin: 20px auto;
}
.about-big-title {
    font-size: 40px;
    color: var(--blue-color);
}
.about-us-start-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about-us-start-header img {
    margin-bottom: -20px;
    margin-left: -25px;
}
.about-normal-text {
    font-weight: 200 !important;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    margin: 10px 0;
}
.about-normal-blue-text {
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: var(--blue-color);
    margin: 10px 0;
}
.about-us-divide {
    display: flex;
    justify-content: center;
    align-items: center;
}