.tour-histories .css-dev-only-do-not-override-htwhyh .ant-col-8 {
    width: 1050px !important;
}

.tour-histories .ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    background-color: green !important;
    width: 80px !important;
}
