.color-hover:hover {
    color: var(--blue-color) !important;
    text-shadow: 2px 2px 10px var(--blue-color) !important;
}
.header-white {
    width: 1483px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}